@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";




margin {
    padding: 0;
    margin: 0;
}

body {
    background-color: #e1e4be;
}


.container {
    width: 100%;
}



footer i {
font-size: 2rem;

}

.footer {
    display: flex;
    justify-content: center;
}


.columns a {
    text-decoration: none;
    color: white;
}




.footer i:hover {
    transform: rotate(360deg);
    transition-duration: 1s;
}

.columns a:hover {
    color: #e1e4be;

}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header .computer-picture {
    width: 35rem;
}




